:root{
    --mainBlue:#2a2a72;
    --lightBlue:#009ffd;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;
    --mainYellow:#ffa400;
}
.body{
    font-family: "Adobe Arabic";
    background: var(--mainWhite) !important;
    color:var(--mainDark)!important;
}
.text-title{
    font-family: "Adobe Caslon Pro";
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.text-blue{
    color: var(--mainBlue);
}
.text-bright{
    color: var(--lightBlue)
}

/*
Product container css
 */

.card {

    transition: all 1s linear;
    width: 300px;
    height: 300px;
}
.card-footer {

    border-top: transparent;
    transition: all 1s linear;
}
.img-container{
    position: relative;
    overflow: hidden;
}
.card-img-top {
    transition: all 1s linear;
    max-width:100%;
    height:auto;

}
.btn-card {
    position: absolute;
    bottom:10px;
    right: 10px;
    padding:2px 4px;
    border :none;
    font-size: 17px;
    border-radius: 5px;
}
.cart-icon{
    cursor: pointer;
    font-size: 20px;
    color: red;
}

/*Shipping and payment*/
box-1{
    height: 100px;
    margin-top: 60px;
    text-align: center;
    background-color: #f7f7f7;
    padding-top: 30px;
}
.box-2{
    min-height: 200px;
    margin-top: 60px;
    border-style: solid ;
    border-color: #f7f7f7;
    border-width: 2px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.box-3{
    height: 550px;
    margin-top: 60px;
    border-style: solid ;
    border-color: #f7f7f7;
    border-width: 2px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.box-header{
    text-align: left;
    font-family: "Adobe Gothic Std";
    background: #f7f7f7;
    padding-top: 15px;
}
.info-span{
    text-align: left;
    font-family: "Adobe Gothic Std";
    color: coral;
    font-size: small;
}
.info-span2{
    text-align: left;
    font-family: "Adobe Gothic Std";
    color: coral;
    font-size: medium;
}
.payment-option {
    margin-top: 40px;
    text-align: left;
    font-family: "Adobe Gothic Std";
    font-size: medium;
}